.PreviewScreen {
  pointer-events: auto;
  width: 600px;
  max-height: 97vh;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 13px;
  background-color: #e6e6ea;
  display: grid;
  grid-template-rows: max-content;
  grid-gap: 0;
  box-shadow: 0 0 15px black;
}
.PreviewScreen button {
  width: 120px;
  height: fit-content;
  background-color: #e5d2d6;
  padding: 0.5rem 1.5rem;
  align-self: end;
  margin: 0 1.5rem 1.5rem 1.5rem;
  justify-self: center;
}
.PreviewScreen .message_preview {
  width: calc(100% - 3rem);
  box-sizing: border-box;
  margin: 1.5rem;
  justify-self: center;
  outline: none;
}
.PreviewScreen .message_preview:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.PreviewScreen .var_container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}
.PreviewScreen .var_container div {
  display: block;
  width: calc(50% - 1.5rem);
  height: auto;
  margin: 0 1.5rem 1.5rem 0;
}
.PreviewScreen .var_container .var {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0;
  padding-top: 25px;
}
.PreviewScreen .var_container label {
  left: 0.5rem;
  top: 0.5rem;
  font-weight: bold;
  font-size: 12px;
  z-index: 1;
  background-color: transparent;
  padding: 0px 5px;
  position: relative;
  display: block;
  height: 0;
}

.Header {
  margin: 1.5rem 1.5rem 0 1.5rem;
  padding: 0;
  text-align: end;
  font-size: 18px;
  font-weight: 300;
}