@import './../../variables';

.VarSelector {
    width: 100%;
    padding-bottom: 1.5rem;
    button {
        margin-right: 10px;
        width: fit-content;
        height: fit-content;
        padding: .25rem 1rem;
        background-color: $secondary-color; 
        &:hover {
            background-color: $accent-color;
        }

    }

}