.VarSelector {
    width: 100%;
    padding-bottom: 1.5rem;
    button {
        margin-right: 10px;
        width: fit-content;
        height: fit-content;
        padding-bottom: 3px;
        background-color: rgba(160, 190, 0, 1); 
        &:hover {
            background-color: rgb(150, 180, 0);
        }

    }

}